<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css} "/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div th:insert="/fragments/header :: header"></div>



<!--display users list-->
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">FIRSTNAME</th>
        <th scope="col">LASTNAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">PHONE</th>
        <th scope="col">COUNTRY</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contact, i : ${contacts}">
        <td th:text="${contact.data.id}"></td>
        <td th:text="${contact.data.attributes.firstName}"></td>
        <td th:text="${contact.data.attributes.lastName}"></td>
        <td th:text="${contact.data.attributes.email1}"></td>
        <td th:text="${contact.data.attributes.phone1}"></td>
        <td th:text="${contact.data.attributes.country}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>

