<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:insert="fragments/header :: header-imports"/>

</head>
<body>
<div th:insert="/fragments/header :: header"></div>

<div class="container py-5">
    <div class="row">
        <div class="col-10 mx-auto">
            <h1>File Upload Status</h1>
            <!--display error if any-->
            <div class="alert alert-danger" role="alert" th:if="${!status}">
                <strong>Error:</strong>
                <span th:text="${message}"></span>
            </div>


            <!--display users list-->
            <table class="table table-striped" th:if="${status}">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">FIRSTNAME</th>
                    <th scope="col">LASTNAME</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">PHONE</th>
                    <th scope="col">COUNTRY</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contact, i : ${contacts}">
                    <td th:text="${contact.data.id}"></td>
                    <td th:text="${contact.data.attributes.firstName}"></td>
                    <td th:text="${contact.data.attributes.lastName}"></td>
                    <td th:text="${contact.data.attributes.email1}"></td>
                    <td th:text="${contact.data.attributes.phone1}"></td>
                    <td th:text="${contact.data.attributes.country}"></td>
                </tr>
                </tbody>
            </table>
            <a href="#" th:href="@{/}"> retour</a>
        </div>
    </div>
</div>



</body>
</html>